{% extends "site_base.html" %}

{% load url from future %}
{% load i18n %}

{% block title %}{{ block.super }} {% trans "Account Pending Approval" %}{% endblock %}
{% block page-title %}
  {% trans "Account Pending Approval" %}
  <div class="btn-group pull-right">
    <a class="btn btn-primary btn-icon" href="href="{{ success_url }}">
      <i class="fa fa-angle-left" title="Go Back"></i>
    </a>
    <a class="btn btn-primary" href="href="{{ success_url }}">
      {% trans "Go Back" %}
    </a>
  </div>
{% endblock %}

{% block body %}
<p>{% blocktrans %}We have sent the administrators a notice to approve your account associated with <b>{{ email }}</b>. If the account is approved, you will receive a confirmation notice.{% endblocktrans %}</p>
{% endblock %}
