{% extends "site_base.html" %}

{% load url from future %}
{% load i18n %}

{% block title %}{{ block.super }} {% trans "Log Out" %}{% endblock %}
{% block page-title %}
  {% trans "Log Out" %}
  <div class="btn-group pull-right">
    <a class="btn btn-primary btn-icon" href="javascript:history.back()">
      <i class="fa fa-angle-left" title="Back"></i>
    </a>
    <a class="btn btn-primary" href="javascript:history.back()">
      {% trans "Cancel" %}
    </a>
  </div>
{% endblock %}

{% block body %}
  <div class="row">
    <div class="col-md-12">
      <form method="POST" action="{% url "account_logout" %}" class="form-horizontal">
        <fieldset>
          {% csrf_token %}
          <h3>{% trans "Are you sure you want to log out?" %}</h3>
          <div class="form-actions">
            <button type="submit" class="btn btn-primary">{% trans "Log out" %}</button>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
{% endblock %}
