{% load geonode_client_tags %}

{% client_viewer_js	%}
<style>
	#content {
		position: relative;
	}
	#map {
		height: 600px;
	}
</style>

<script type="text/javascript">
	document.addEventListener('DOMContentLoaded', function () {
    var defaultConfig = {
        authStatus: {% if user.is_authenticated %} 200{% else %} 401{% endif %},
        proxy: '{{ PROXY_URL }}',
        {% if MAPFISH_PRINT_ENABLED %}
        printService: "{{GEOSERVER_BASE_URL}}pdf/",
        {% else %}
        printService: "",
        {% endif %}
        /* The URL to a REST map configuration service.  This service
         * provides listing and, with an authenticated user, saving of
         * maps on the server for sharing and editing.
         */
        rest: "{% url "maps_browse" %}",
        ajaxLoginUrl: "{% url "account_ajax_login" %}",
        homeUrl: "{% url "home" %}",
        portalItems: [{
            xtype: "container",
            layout: "fit",
            height: 81,
            region: "north"
        }],
        localGeoServerBaseUrl: "{{ GEOSERVER_BASE_URL }}",
        localCSWBaseUrl: "{{ CATALOGUE_BASE_URL }}",
        csrfToken: "{{ csrf_token }}",
        tools: [{ptype: "gxp_getfeedfeatureinfo"}]
		};
		var config = Object.assign( defaultConfig, {{ viewer|safe }});
    var options = {mapConfig: config, zoomToLayer: true};
    if (config.proxy !== '') {
      options.proxy = "{{PROXY_URL}}";
    }
    {% if resource.get_tiles_url %}
        var tiles_url = "{{ resource.get_tiles_url|safe }}";
        var last_letter_url =  tiles_url.charAt(tiles_url.length - 1);
        if(parseInt(last_letter_url)) {
            tiles_url = tiles_url.substring(0, tiles_url.length - 1);
        }
        tiles_url  = tiles_url.split('?')[0];
        tiles_url = tiles_url.replace('gmaps','wms');
        access_token = options.mapConfig.sources[2].url.split('?')[1];
        options.mapConfig.sources[2].url = tiles_url+'?'+access_token+'&SRS={{ crs }}';
    {% endif %}
    var viewer = new window.Viewer('preview_map', options);
    viewer.view();
});
</script>
