{% extends "charts_app/chart_base.html" %}
{% load i18n %}
{% load dialogos_tags %}
{% load agon_ratings_tags %}
{% load bootstrap_tags %}
{% load url from future %}
{% load base_tags %}
{% load guardian_tags %}

{% block page-title %}
  {% trans "Explore Graphs" %}
  <div class="btn-group pull-right">
    <a class="btn btn-primary btn-icon" href="#">
      <i class="fa fa-align-justify" title="List"></i>
    </a>
    <a class="btn btn-primary" href="#">
      {% trans "Graphs" %}
    </a>
  </div>
{% endblock %}

{% block subheader %}
<section id="subheader">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>{{ object.title }}</h2>
                <p>
                  <span  style="text-transform: capitalize;">{{ object.type }} Chart</span> based on {{ object.layer.title }} layer (Category field: {{ object.category }}, Quantity field: {{ object.quantity }})

				    {% if resource.category %}
					       {% trans "in" %} <a href="{% url "search" %}?category__identifier__in={{ resource.category.identifier }}">{{ resource.category }}</a> |
				    {% endif %}
					{% if resource.date %}
					    {% if resource.date_type == 'creation' %} {% trans "Created on" %} {{ resource.date }}
					    {% elif resource.date_type == 'publication' %} {% trans "Published on" %} {{ resource.date }}
					    {% else %} {% trans "Updated on" %} {{ resource.date }}
						{% endif %}
					{% endif %}
				</p>
				{% block social_links %}
				{% if SOCIAL_BUTTONS %}
				{% include "social_links.html" %}
				{% endif %}
				{% endblock %}
            </div>
        </div>
    </div>
</section>
{% endblock %}



{% block body_outer %}
<script src="/static/js/csv.js"></script>
<script src="/static/js/donut.js"></script>
<script src="/static/js/bar.js"></script>
<script src="/static/js/pie.js"></script>
<script src="/static/js/line.js"></script>
<script src="https://d3js.org/d3.v4.min.js"></script>
<link rel="stylesheet" href="/static/css/index.css">

<div class="row">
  <div class="col-md-8">
    <div id="chart_area"></div>
    <h2>Abstract</h2>
    <p>{{ object.abstract }}</p>
    <div class="documents-actions">
      {% include "_actions.html" %}
    </div>

    <div class="tab-content">

      <article id="info" class="tab-pane active">

      </article>

      <article id="comments" class="tab-pane">

      </article>

      <article id="rate" class="tab-pane">
        <!-- TODO: Move this to a reusable template snippet -->

        <h4>{% trans "Rate this document" %}</h4>

        <div id="user_rating" class="category-layer" data-score="{{user_document_rating}}"></div>

        <h4>{% trans 'Average Rating' %}</h4>

        <div class="overall_rating" style="float:left" data-score="{{ document_rating }}"></div> ({{num_votes}})
        <!-- TODO: Add display of who gave what rating based -->
      </article>
    </div>
  </div>

  <div class="col-md-4">
      <li class="list-group-item">
         <a href="/table?" id="link">
              <button class="btn btn-primary btn-md btn-block">{% trans "Download CSV" %}</button>
         </a>
      </li>
      <li class="list-group-item">
            <h4>{% trans "Modify this Chart" %}</h4>
            <p>{% trans "Change type of the chart or type of aggregation." %}</p>
            <a id="updt_chart">
                <button class="btn btn-primary btn-md btn-block" data-toggle="collapse" data-target="#form" onclick="updateParams();">{% trans "Modify this Chart" %}</button>
            </a>
            <div id="form" class="collapse">
                <form name="f" method="post" class="form-horizontal" onchange="updateLinkAndTitle();" action="/chart/update/{{ resource.id }}/">
                    {% csrf_token %}
                         <div class="form-group">
                             <input id="id_layer" name="layer" value="{{ resource.id }}" type="hidden">
                         </div>
                         <div class="form-group">
                             <label class="control-label col-md-2" for="id_type">Type:</label>
                             <div class="col-md-8">
                                <select class="form-control" id="id_type" name="type">
                                 <option value="0">Bar chart</option>
                                 <option value="1">Pie chart</option>
                                 <option value="2">Donut chart</option>
                                 <option value="3">Line chart</option>
                             </select>
                             </div>
                         </div>
                         <div class="form-group">
                             <label  class="control-label col-md-2" for="id_aggr_type">Aggregation:</label>
                             <div class="col-md-8">
                                <select class="form-control" id="id_aggr_type" name="aggr_type">
                                 <option value="0">Sum</option>
                                 <option value="1">Mean</option>
                                 <option value="2">Category count</option>
                                 <option value="3">Max</option>
                                 <option value="4">Min</option>
                             </select>
                             </div>
                         </div>
                         <div class="form-group">
                             <label class="control-label col-md-2" for="id_title">Title:</label>
                             <div class="col-md-8">
                                <input id="id_title" maxlength="128" name="title" type="text">
                                 <p style="font-size: small; margin:0">Suggested title:</p>
                                 <p  id="title" style="font-size: small; margin:0">Testo di prova</p>
                             </div>
                         </div>
                         <div class="form-group">
                             <label class="control-label col-md-2" for="id_abstract">Abstract:</label>
                             <div class="col-md-8">
                             <textarea  class="form-control" cols="40" id="id_abstract" name="abstract" rows="5"></textarea>

                             </div>
                         </div>
                         <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#chart_popup" onclick="get_chart()">Display chart</button>
                         <button type="submit" class="btn btn-primary btn-block">Update chart in db</button>
               </form>
          </div>
      </li>
      <li class="list-group-item">
         <a href="{% url 'chart_delete' object.id %}" id="del_chart">
              <button class="btn btn-primary btn-md btn-block">{% trans "Delete this Chart" %}</button>
         </a>
      </li>
  </div>
</div>


<script>
var typename = "{{ object.layer.typename }}";
var category = "{{ object.category }}";
var quantity = "{{ object.quantity }}";
var agg = "{{ object.aggr_type }}";
var chart_type = "{{ object.type }}";
var csv_url;


function update_link(){
    csv_url = '/table?lyrname=' + typename;
    csv_url = csv_url + '&category=' + category;
    csv_url = csv_url + '&quantity=' + quantity;
    document.getElementById('link').href = csv_url;
    return;
}

update_link()

</script>

{% include "charts_app/chart_main_script.html" %}

<script>
get_chart();
</script>

{% endblock %}
