<body onload="update_link();">
<script src="/static/js/csv.js"></script>
<script src="/static/js/donut.js"></script>
<script src="/static/js/bar.js"></script>
<script src="/static/js/pie.js"></script>
<script src="/static/js/line.js"></script>
<script src="https://d3js.org/d3.v4.min.js"></script>
<link rel="stylesheet" href="/static/css/index.css">

<h1>{{ layer.title }}</h1>

<div id="chart_area">
</div>

<form name="f" method="post" onchange="update_link();">
    {% csrf_token %}
    {{ form.non_field_errors }}
<div class="fieldWrapper">
    {{ form.layer.errors }}
    {{ form.layer.as_hidden }}
</div>
<div class="fieldWrapper">
    {{ form.title.errors }}
    <label for="{{ form.title.id_for_label }}">Title:</label>
    {{ form.title }}
</div>
<div class="fieldWrapper">
    {{ form.category.errors }}
    <label for="{{ form.category.id_for_label }}">Category:</label>
    <select id="{{ form.category.id_for_label }}" name="category">
    {% for fieldname in fieldnames %}
        <option value="{{ fieldname }}">{{ fieldname }}</option>
    {% endfor %}
    </select>
</div>
<div class="fieldWrapper">
    {{ form.quantity.errors }}
    <label for="{{ form.quantity.id_for_label }}">Quantity:</label>
    <select id="{{ form.quantity.id_for_label }}" name="quantity">
    {% for fieldname in num_fieldnames %}
        <option value="{{ fieldname }}">{{ fieldname }}</option>
    {% endfor %}
    </select>
</div>
<div class="fieldWrapper">
    {{ form.type.errors }}
    <label for="{{ form.type.id_for_label }}">Type:</label>
    {{ form.type }}
</div>
<div class="fieldWrapper">
    {{ form.aggr_type.errors }}
    <label for="{{ form.aggr_type.id_for_label }}">Aggregation:</label>
    {{ form.aggr_type }}
</div>
<div class="fieldWrapper">
    {{ form.abstract.errors }}
    <label for="{{ form.abstract.id_for_label }}">Abstract:</label>
    {{ form.abstract }}
</div>
    <input type="button" onclick="get_chart()" value="Create graph">
    <input type="submit" value="Save Chart"/>
</form>

<a href="/table?" id="link">Download CSV</a>

<script>
var typename = "{{ layer.typename }}";

var category, quantity, agg, chart_type, csv_url;

function update_link(){
    csv_url = '/table?lyrname=' + typename;
    category = document.f.category.value;
    csv_url = csv_url + '&category=' + category;
    quantity = document.f.quantity.value;
    csv_url = csv_url + '&quantity=' + quantity;
    document.getElementById('link').href = csv_url;
    agg = document.f.aggr_type.value;
    chart_type = document.f.type.value;
    return;
}

update_link();
</script>

{% include "charts_app/chart_main_script.html" %}
