{% extends "charts_app/chart_base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load url from future %}

{% block title %}{{ block.super }} {% trans "Charts" %}{% endblock %}
{% block page-title %}
  {% trans "Explore Charts" %}
  {% if user.is_authenticated %}
  <div class="btn-group pull-right">
    <a class="btn btn-primary btn-icon" href="{% url "document_upload" %}">
      <i class="fa fa-plus" title="Upload Document"></i>
    </a>
    <a class="btn btn-primary" href="{% url "document_upload" %}">
      {% trans "Upload Document" %}
    </a>
  </div>
  {% endif %}
{% endblock %}

{% block body_class %}charts{% endblock %}

{% block body %}
  {% with include_type_filter='true' %}
  {% with facet_type='documents' %}
  {% with header='Document Type' %}
  {% with filter='doc_type__in' %}
  {% include "search/_search_content.html" %}
  {% endwith %}
  {% endwith %}
  {% endwith %}
  {% endwith %}
  {% include "_bulk_permissions_form.html" %}
{% endblock %}

{% block extra_script %}
  {% if GEONODE_SECURITY_ENABLED %}
    {% include "_permissions_form_js.html" %}
  {% endif %}
  <script type="text/javascript">
  </script>
  {% with include_spatial='true' %}
  {% include 'search/search_scripts.html' %}
  {% endwith %}
{% endblock extra_script %}
