{% extends "charts_app/chart_base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load url from future %}

{% block title %}{{ block.super }} {% trans "Charts" %}{% endblock %}
{% block page-title %}
  {% trans "Explore Charts" %}
{% endblock %}

{% block body_class %}charts{% endblock %}

{% block body %}
  {% for chart in object_list %}
  <h4>{{ chart.title }}</h4>
  <p>{% trans "Source" %}: {{ chart.layer }}<!-- {{ chart.category }} - {{ chart.quantity }}--></p>
  <!-- <p>{{ chart.type }} - {{ chart.agg_type }}</p> -->
  <p><small>{{ chart.abstract }}</small></p>
  <br>
  {% empty %}
  <h3>{% trans "No content found." %}</h3>
  {% endfor %}
  {% include "_bulk_permissions_form.html" %}
{% endblock %}

{% block extra_script %}
  {% if GEONODE_SECURITY_ENABLED %}
    {% include "_permissions_form_js.html" %}
  {% endif %}
  <script type="text/javascript">
  </script>
  {% with include_spatial='true' %}
  {% endwith %}
{% endblock extra_script %}
