git+https://github.com/ppasq/django-osgeo-importer.git

six==1.10.0
gdal==2.1.3
six==1.10
geonode==2.7
django-compressor
django-geonode-client
django-user-accounts==2.0.2
django-tastypie==0.14.0
OWSLib==0.14
