{% extends "people/profile_base.html" %}
{% load i18n avatar_tags %}
{% load bootstrap_tags %}

{% block body_class %}people{% endblock %}

{% block title %}{{ block.super }} {% trans "Edit Profile" %}{% endblock %}
{% block page-title %}
  {% if user == profile %}
    {% trans "Edit Your Profile" %}
  {% else %}
    {% trans "Edit Profile for" %} {{ profile.username }}
  {% endif %}
  <!-- <div class="btn-group pull-right">
    <a class="btn btn-primary btn-icon" href="{% url "announcements_create" %}">
      <i class="fa fa-plus" title="Add"></i>
    </a>
    <a class="btn btn-primary" href="{% url "announcements_create" %}">
      {% trans "Add Announcement" %}
    </a>
  </div> -->
{% endblock %}

{% block body %}
<div class="col-xs-3 col-md-2 profile-image">
  {% avatar profile.username 240 %}
  {% if user == profile %}
  <p><a class="btn btn-primary btn-block" href="{% url 'avatar_change' %}">{% trans "Change your avatar" %}</a></p>
  {% endif %}
</div>

<div class="col-xs-9 col-md-7">
  <form action="" method="post">
    {% csrf_token %}
    <div class="form-controls">
      {{ form|as_bootstrap }}
    </div>
    <div class="form-actions">
      <input type="submit" class="btn btn-primary" value="{% trans "Update profile" %}" />
    </div>
  </form>
</div>
{% endblock %}
