{% extends "site_base.html" %}

{% load url from future %}
{% load i18n %}

{% block head_title %}{% trans "Confirm your email address" %}{% endblock %}

{% block title %}{{ block.super }} {% trans "Confirm your email address" %}{% endblock %}
{% block page-title %}
  {% trans "Confirm your email address" %}
  <div class="btn-group pull-right">
    <a class="btn btn-primary btn-icon" href="href="{{ success_url }}">
      <i class="fa fa-angle-left" title="Go Back"></i>
    </a>
    <a class="btn btn-primary" href="href="{{ success_url }}">
      {% trans "Go Back" %}
    </a>
  </div>
{% endblock %}

{% block body %}
<p>{% blocktrans %}We have sent you an email to <b>{{ email }}</b> for verification. Follow the link provided to finalize the signup process.{% endblocktrans %}</p>
{% endblock %}
