{% extends "site_base.html" %}

{% load url from future %}
{% load i18n %}
{% load bootstrap_tags %}
{% load account_tags %}

{% block title %}{{ block.super }} {% trans "Password change" %}{% endblock %}
{% block page-title %}
  {% trans "Password change" %}
  <div class="btn-group pull-right">
    <a class="btn btn-primary btn-icon" href="{{ user.get_absolute_url }}">
      <i class="fa fa-angle-left" title="Profile"></i>
    </a>
    <a class="btn btn-primary" href="{{ user.get_absolute_url }}">
      {% trans "User Profile" %}
    </a>
  </div>
  {% endblock %}

{% user_display request.user as user_display %}

{% block body %}
    <form method="POST" action="">
      <fieldset>
      {% csrf_token %}
      {{ form|as_bootstrap }}
        <div class="form-actions">
          <button type="submit" class="btn btn-primary">{% trans "Change my password" %}</button>
        </div>
      </fieldset>
    </form>
{% endblock %}
