{% extends 'index.html' %}
{% load i18n %}

{% block middle %}

{% block hero %}
<div class="jumbotron">
  <div class="container">
    <h1>Haiti<span style="font-weight:200">Data</span></h1>
    <p>{% blocktrans %}HaitiData is a platform designed to disseminate, share and exploit GIS and cartographic data about Haiti. This idea was born after the earthquake of January 12, 2010. The first version of HaitiData has been used by several actors and partners involved in risk and disaster management, urban planning, agriculture and food security, spatial planning, environmental management, infrastructure, statistics, tourism, topographic mapping, thematic mapping, etc.{% endblocktrans %}</p>
    <p>{% blocktrans %}CNIGS, as the national agency whose official mission is to collect and disseminate spatial data in Haiti (and the main governmental agency in terms of GIS capabilities), is therefore in charge of the platform.{% endblocktrans %}</p>
    <p>{% blocktrans %}The data hosted on HaitiData is accessible to the general public and improves exchange and collaboration between Ministries, NGOs, the international community, academia and the private sector.{% endblocktrans %}</p>
    <p>{% blocktrans %}HaitiData.org is based on GeoNode which is an open source geospatial platform and a web technology tool.{% endblocktrans %}</p>
  </div>
</div>
{% endblock %}

{% block mainbody %}
<section id="hazards">
  <div class="container">
		<div class="row">
			<h2>{% blocktrans %}Haiti Risk and Hazards{% endblocktrans %}</h2>
      <a href="/search/?limit=100&offset=0&keywords__slug__in=inondation-riverine">
        <div class="col-xs-6 col-md-2 keywords">
				  <span class="icon-Flood"></span>
				  <h4>{% blocktrans %}River Flood{% endblocktrans %}</h4>
			  </div>
      </a>
      <a href="/search/?limit=100&offset=0&keywords__slug__in=cyclone">
			  <div class="col-xs-6 col-md-2 keywords">
				  <span class="icon-Cyclone"></span>
				  <h4>{% blocktrans %}Cyclone{% endblocktrans %}</h4>
			  </div>
      </a>
      <a href="/search/?limit=100&offset=0&keywords__slug__in=inondation-cotiere">
        <div class="col-xs-6 col-md-2 keywords">
				  <span class="icon-StormSurge"></span>
				  <h4>{% blocktrans %}Coastal Flood{% endblocktrans %}</h4>
			  </div>
      </a>
      <a href="/search/?limit=100&offset=0&keywords__slug__in=tremblement-de-terre">
        <div class="col-xs-6 col-md-2 keywords">
				  <span class="icon-Earthquake"></span>
				  <h4>{% blocktrans %}Earthquake{% endblocktrans %}</h4>
			  </div>
      </a>
      <a href="/search/?limit=100&offset=0&keywords__slug__in=secheresse">
        <div class="col-xs-6 col-md-2 keywords">
          <span class="icon-water_scarcity"></span>
          <h4>{% blocktrans %}Water Scarcity{% endblocktrans %}</h4>
  			</div>
      </a>
      <a href="/search/?limit=100&offset=0&keywords__slug__in=glissement-de-terre">
        <div class="col-xs-6 col-md-2 keywords">
				  <span class="icon-Landslide"></span>
				  <h4>{% blocktrans %}Landslide{% endblocktrans %}</h4>
			  </div>
      </a>
		</div>
	</div>
</section>
<section id="imagery">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h1>{% blocktrans %}Imagery{% endblocktrans %}</h1>
        <p>{% blocktrans %}This section is a shortcut for access to aerial images and digital terrain models. These dedicated pages allow you to download a subset of these raster data, defined by drawing polygons on the same layer.{% endblocktrans %}</p>
      </div>
      <div class="col-md-4">
        <h3>{% blocktrans %}Aerial images{% endblocktrans %}</h3>
        <p>{% blocktrans %}It is an aerial coverage at a spatial resolution of 25 cm. The mosaic is composed of 3617 datasets.{% endblocktrans %}</p>
        <a class="btn btn-default" href="/clip/Haiti25cm-PaP-extract" role="button">{% blocktrans %}Aerial images{% endblocktrans %}</a>
      </div>
      <div class="col-md-4">
        <h3>{% blocktrans %}DSM/DTM{% endblocktrans %}</h3>
        <p>{% blocktrans %}This is a numerical surface model derived from a LiDAR flight and with a spatial resolution of 1.5 m. The mosaic is composed by 1873 datasets.{% endblocktrans %}</p>
        <a class="btn btn-default" href="/clip/lidar" role="button">{% blocktrans %}DSM/DTM{% endblocktrans %}</a>
      </div>
    </div>
</section>
<section id="showcase">
	<div class="container">
		<div class="row">
			<h2>{% blocktrans %}Featured Datasets{% endblocktrans %}</h2>
		    {% verbatim %}
		    <div ng-app="featured">
		      <div ng-repeat="item in featured | limitTo:4">
	  			<div class="col-md-3">
	  				<a href="{{ item.detail_url }}"><img ng-src="{{ item.thumbnail_url }}" /></a>
	  				<h4>{{ item.title }}</h4>
	  			</div>
		      </div>
		    </div>
		    {% endverbatim %}
		</div>
		<p><a href="/search/">{% blocktrans %}Explore all datasets{% endblocktrans %}</a></p>
	</div>
</section>
{% endblock %}

{% endblock %}
