{% extends "site_base.html" %}

{% load i18n %}
{% block title %}{{ block.super }} {% trans "Tutorials" %}{% endblock %}
{% block page-title %}{% trans "Tutorials" %}{% endblock %}

{% block body_outer %}
<div class="row">
  <div class="col-md-8">
    <p>{% trans "Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu." %}</p>
    <h2>{% trans "Platform overview" %}</h2>
    <p>{% trans "Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus." %}</p>
    <h2>{% trans "Search filters" %}</h2>
    <p>{% trans "Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus." %}</p>
    <h2>{% trans "Ship and Clip" %}</h2>
    <p>{% trans "Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus." %}</p>
    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/6pcCoOYe0uY" frameborder="0" allowfullscreen></iframe>
    </div>
    <h2>{% trans "Sharing layers and metadata" %}</h2>
    <p>{% trans "Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus." %}</p>
    <h2>{% trans "Uploading files from Android ODK" %}</h2>
    <p>{% trans "Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus." %}</p>
    <h2>{% trans "Styling layers" %}</h2>
    <p>{% trans "Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus." %}</p>
    <h2>{% trans "Graphs" %}</h2>
    <p>{% trans "Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus." %}</p>
    <h2>{% trans "Creating maps" %}</h2>
    <p>{% trans "Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus." %}</p>
    <h2>{% trans "Managing users" %}</h2>
    <p>{% trans "Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus." %}</p>
    <h2>{% trans "Rancher" %}</h2>
    <p>{% trans "Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus." %}</p>
  </div>
</div>
{% endblock %}
