{% extends "site_base.html" %}

{% load i18n %}
{% load i18n %}
{% block title %}{{ block.super }} {% trans "About" %}{% endblock %}
{% block page-title %}{% trans "About" %}{% endblock %}

{% block body_outer %}
<div class="row">
  <div class="col-md-8">
    <p>{% blocktrans %}HaitiData est une plate-forme conçue pour diffuser, partager et exploiter des données SIG et cartographiques sur Haïti. Une idée qui a vu le jour après le tremblement de terre du 12 janvier 2010 et dont la version initiale a été utilisée par plusieurs acteurs et partenaires engagés dans la gestion des risques et désastres, la planification urbaine, l’agriculture et la sécurité alimentaire, l’aménagement du territoire, la gestion de l’environnement, les infrastructures, les statistiques, le tourisme, la cartographie topographique, la cartographie thématique, etc.</p>
    <p>Le CNIGS, en tant qu’agence nationale ayant pour mission officielle de collecter et diffuser des données spatialisées en Haïti (et principale entité étatique en termes de capacités en SIG), est donc chargé de la direction technique de la plate-forme.</p>
    <p>Les données hébergées sur HaitiData sont accessibles au grand public et doivent contribuer à plus de synergies et une collaboration plus étroite entre les Ministères, les ONGs, la communauté internationale, les universités et le secteur privé.</p>
    <p>HaitiData.org est basé sur la plateforme de GeoNode qui est une plateforme géo-spatiale open-source et un outil de technologie Web.{% endblocktrans %}</p>
  </div>
</div>
{% endblock %}
