{% extends "site_base.html" %}
{% load i18n %}
{% load leaflet_tags %}
{% load staticfiles %}


{% block title %}{{ block.super }}{% endblock %}
{% block page-title %}
{% if geotiffname == 'ortho_images' %}
  Ortho Photos
{% elif geotiffname == 'lidar' %}
  {% trans "DSM" %}
{% endif %}
{% endblock %}

{% block body_class %}layers{% endblock %}

{% block body_outer %}
    <div id="download-clip-error-message" class="label label-danger" style="margin-bottom: 50px; display: none">Error message</div>
    <div id="download-clip-map"></div>

    <button type="button" class="btn btn-primary btn-md btn-block" data-toggle="modal" data-target="#download_clip_page" id="download-clip-button">Download Clip</button>
    {% if geotiffname == 'ortho_images' %}
    <div class="row">
      <div class="col-md-8">
        <article id="info">
          <h3>Ortho Photos</h3>
          <p>Les <strong>orthophotographies</strong> ou <strong>orthoimages</strong> sont des images aériennes ou satellitales de la surface terrestre rectifiées géométriquement et égalisées radiométriquement. Ces images se présentant sous forme de dalles couvrant une zone de la Terre peuvent être géoréférencées dans n'importe quel système de coordonnées. Elles servent de fonds cartographiques dans les Systèmes d'information géographique.</p>
          <p>Pour mieux comprendre comment sélectionner la zone d’intérêt, voir le <a href="/tutorials/">tutoriel</a>.</p>
          <p>La taille maximale accepté est de 40 megabytes.</p>
        </article>
      </div>
    </div>
    {% endif %}

    <style>
        #download-clip-map {
            height: 500px;
            width: 100%;
            text-align: center;
        }

        .leaflet-control-zoom {
            left: 0 !important;
        }

        #download-clip-button {
            margin-top: 10px;
        }
    </style>
{% endblock %}

{% block extra_script %}
    {% leaflet_js %}
    {% leaflet_css %}

    <link rel="stylesheet" href="{% static 'geonode/css/leaflet.draw.css' %}"/>
    <script src="{% static 'geonode/js/draw/leaflet.draw.js' %}"></script>

    {% include 'clip-and-ship/download-clip.html' %}
{% endblock extra_script %}
